.carousel-inner{
 margin-top: 1rem;
 font-family:  'Outfit', sans-serif;
 font-size: 20px;
    
    
}

.carousel-item{
    height: 50rem;

}

.card{
    margin-top: 3rem;
    
}
.card-img-top {
    height: 35rem;
}

.pagination{
    margin-left: 50rem;
    
}